

.blog-content-container {
background-color: beige;
    position: absolute;
    right: 0;
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-description {

    width: 80%;
    height: 60%;
}

.blog-line {
    display: flex;
    align-items: flex-end;
    width: max-content;
    overflow: hidden;
    height: 2rem;
}
.blog-heading-line {
    height: 4rem;
    font-size: 2.5rem;
    margin-block-end: 1rem;
    display: flex;
    align-items: flex-end;
    width: max-content;
    overflow: hidden;
}