@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow Condesed';
  src: url(../fonts/BarlowCondensed-Medium.ttf);
}
* {
  box-sizing: border-box;

}

html,
body,
#root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  pointer-events: none;
}

body {
  overflow-x: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

#logo {
  position: fixed;
  top: 0;
  left: 0;
  width: max-content;
  font-family: 'Barlow Condesed';
  letter-spacing: 0.033em;
  margin-block-start: 1vh;
  margin-inline-start: 2vw;
}

#arrow {
  position: fixed;
  bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#arrow h2 {
  margin: 0;
}