
.work-content-container {
    background-color: beige;

    width: 55%;
    height: 100vh;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-description {
    width: 80%;
    height: 60%;

}

.work-line {
    display: flex;
    align-items: flex-end;
    width: max-content;
    overflow: hidden;
    height: 2rem;
}

.work-heading-line {
    height: 4rem;
    font-size: 2.5rem;
    margin-block-end: 1rem;
    display: flex;
    align-items: flex-end;
    width: max-content;
    overflow: hidden;
}